[user]
	name = raphaelil
	# email = xxx
	# signingkey = xxx
[core]
	precomposeunicode = true
	quotepath = false
  autocrlf = false
[gpg]
	# Window gpg path
	# program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
  program=gpg
[commit]
  gpgsign = true
  template = /Users/raphaelil/.commit-template.txt
[pull]
  rebase = true
[push]
  autoSetupRemote = true
